$mobile: 320px;
$mobile-m: 600px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;

$box-shadow-standard: 0 1px 6px 0 rgba(34, 35, 38, 0.18);

$color-text-link: #42b983;
$color-button: #3bb4ab;

$font-size-m: 1.8rem;
$font-size-l: 3.2rem;

$transition: 0.3s ease-in-out;
